header button {
    font-weight: bold;
}

#toggle-font-family-1 {
    font-family: sans-serif;
}

#toggle-font-family-2 {
    font-family: 'Times New Roman', Times, serif;
}

#toggle-font-family-3 {
    font-family:fantasy;
}