/*---------------------------------------------------------------------------------*/
/* VARIABLES */
/*---------------------------------------------------------------------------------*/
:root {
    --font-chars: Arial, Helvetica, sans-serif;
    --Question-statement-text-transform: uppercase;
    --Answer-choice-text-transform: lowercase;
}

/*---------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*---------------------------------------------------------------------------------*/
* {
    /*border: 1px solid;*/
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    touch-action: manipulation;
}

html, body {
    overscroll-behavior: contain;
    touch-action: manipulation;
}

body {
    background-color:darkkhaki;
}

#app{
    width: 100%;
    height: 100%;
} 

/*---------------------------------------------------------------------------------*/
/* START VIEW */
/*---------------------------------------------------------------------------------*/
#start-view {
    text-align: center;
}

#start-view button {
    width: 300px;
    height: 400px;
}


/*---------------------------------------------------------------------------------*/
/* GAME PLAY VIEW */
/*---------------------------------------------------------------------------------*/
.total-viewport-size {
    display: block;
    width: 100vw;
    height: 100vh;
}

#options-view {
    height: 15vh;
    border: 1px solid;
}

#gameplay-view {
    display: block;
    height: 80vh;
}

#question-area {
    display: block;
    height: 40vh;
    border: 1px solid;
}

#current-chars-answers {
    display: block;
    height: 45vh;
    border: 1px solid;
}
/*---------------------------------------------------------------------------------*/


#current-char-question {
    font-size: 10rem;
    text-align: center;
    text-transform: var(--Question-statement-text-transform);

}


#current-chars-answers {
    display: grid;
    width: 100%;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 1rem),1fr));
}


#current-chars-answers button {
    height: 200px;
    font-size: 5em;
    border-radius: 15px;
    font-family: var(--font-chars);
    text-transform: var(--Answer-choice-text-transform);
    touch-action: manipulation;
}

#current-chars-answers:disabled {
    height: 200px;
    font-size: 5em;
    border-radius: 15px;
    font-family: var(--font-chars);
    text-transform: var(--Answer-choice-text-transform);
    touch-action: manipulation;
}


.button-disabled {
    background-color: red;
    color:black;
    opacity: .5;
    touch-action: manipulation;
}

.correct-press-button {
    background-color: green;
    color:black;
    opacity: .75;
}

/* OPTIONS VIEW */
#options-view {
    display:flex;
    justify-content: flex-start;
}

#options-view button {
    height: 50px;
    min-width: 120px;
    padding: 10px;
}


#select-font-family-button-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#select-font-family-button-2 {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}

#select-font-family-button-3 {
    font-family: 'Dekko', cursive;
    font-weight: 700;
}

#select-font-family-button-4 {
    font-family: 'Borel';
    font-weight: 700;
}

/*---------------------------------------------------------------------------------*/
/* RESTART MENU VIEW */
/*---------------------------------------------------------------------------------*/
#restart-menu-view {
    display: flex;
    margin: 0 auto;
    width: 35vw;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

#restart-menu-view button {
    width: 200px;
    height: 300px;
}

/*---------------------------------------------------------------------------------*/
/* UTILS CLASSES */
/*---------------------------------------------------------------------------------*/
.alphabet {
    font-family: var(--font-chars);
}

.hidden {
    display: none !important;
}

.upper-case {
    text-transform: uppercase;
}
