* {
    border: 1px solid;
    box-sizing: border-box;
}

header button {
    font-weight: bold;
}

#choose-font-family-1 {
    font-family: sans-serif;
}

#choose-font-family-2 {
    font-family: 'Times New Roman', Times, serif;
}

#choose-font-family-3 {
    font-family:fantasy;
}

#current-char-question {
    font-size: 10rem;
    text-align: center;
}


#current-chars-answers {
    display: grid;
    width: 100%;

    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 1rem),1fr));
}


#current-chars-answers button {
    height: 400px;
    font-size: 5em;
}

.button-disabled {
    opacity: 0;
}