/* VARIABLES */
:root {
    --font-chars: Arial, Helvetica, sans-serif;
    --Question-statement-text-transform: uppercase;
    --Answer-choice-text-transform: lowercase;
    --heigth-top-bar: 60px;
    --size-answer-area: 80%;
}