/*---------------------------------------------------------------------------------*/
/* GAME VIEW */
/*---------------------------------------------------------------------------------*/
#options-bar {
    background-color: brown;
    height: var(--heigth-top-bar);
    color: aliceblue;
}


#exercise-view {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - var(--heigth-top-bar));
}

#current-chars-answers {
    display: block;
}

/*---------------------------------------------------------------------------------*/
#question-area {
    width: 50vw;
    background-color:cadetblue;
    color: aliceblue;
}


#current-char-question {
    font-size: 15vh;
    text-align: center;
    text-transform: var(--Question-statement-text-transform);
}

/*---------------------------------------------------------------------------------*/
#answer-area {
    width: 50vw;
    background-color: darkgreen;
    color: aliceblue;
}


#current-chars-answers {
    display: flex;
    width: 100%;
    font-size: 4rem;
    align-items: baseline;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}


#current-chars-answers button {
    min-width: 90px;
    max-width: 105px;
    width: 30%;
    min-height: 120px;
    max-height: 200px;
    height: 20vh;
    font-size: 1em;
    border-radius: 15px;
    font-family: var(--font-chars);
    text-transform: var(--Answer-choice-text-transform);
    margin: 0 5px;
}

#current-chars-answers:disabled {
    height: 200px;
    font-size: 5em;
    border-radius: 15px;
    font-family: var(--font-chars);
    text-transform: var(--Answer-choice-text-transform);
    touch-action: manipulation;
}


.button-disabled {
    background-color: red;
    color:black;
    opacity: .5;
    touch-action: manipulation;
}

.correct-press-button {
    background-color: green;
    color:black;
    opacity: .75;
}

/*---------------------------------------------------------------------------------*/
/* CHAR CARDS */
/*---------------------------------------------------------------------------------*/
#cards-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3px;
    gap: 3px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1.4444444444;
    container-type: inline-size;
    border-radius: 1.25dvb;

    /* variable */
    background-color: rgb(143, 61, 201);
    width: 154px;
}


.card-image-container img {
    width: 75.56%;
}

.card-char-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75.56%;
    aspect-ratio: 1/1.5882352941;
    
    /* variable */
    background-color: white;
    color:  rgb(143, 61, 201);
}

/* Depende de la fuente tipográfica */
.card-char-content {
    position: absolute;
    font-family: 'Times New Roman';
    font-size: 77cqw;
    bottom: 10%;
    text-transform: uppercase;
}


/*---------------------------------------------------------------------------------*/
/* DEKKO FONT */
/*---------------------------------------------------------------------------------*/
.card-dekko-font {
    font-size: 106cqw;
    font-family: 'Dekko';
}

.card-char-dekko-lowercase-neutrals {
    bottom: -19%;
}

.card-char-dekko-lowercase-ascendents {
    bottom: -28%;
}

.card-char-dekko-lowercase-descendents {
    bottom: -9%;
}


.card-char-dekko-uppercase-neutrals {
    bottom: -23%;
    text-transform: uppercase;
}

.card-char-dekko-uppercase-ascendents {
    bottom: -32%;
    text-transform: uppercase;
}

.card-char-dekko-uppercase-descendents {
    bottom: -16%;
    text-transform: uppercase;
}
/*---------------------------------------------------------------------------------*/
/* BOREL FONT */
/*---------------------------------------------------------------------------------*/
.card-borel-font {
    font-size: 106cqw;
    font-family: 'Borel';
}

.card-char-borel-lowercase-neutrals {
    bottom: -19%;
}

.card-char-borel-lowercase-ascendents {
    bottom: -28%;
}

.card-char-borel-lowercase-descendents {
    bottom: -8%;
}

.card-char-borel-uppercase-neutrals {
    bottom: -26%;
    text-transform: uppercase;
}

.card-char-borel-uppercase-ascendents {
    bottom: -32%;
    text-transform: uppercase;
}

.card-char-borel-uppercase-descendents {
    bottom: -16%;
    text-transform: uppercase;
}

/*---------------------------------------------------------------------------------*/
/* SANS ARIAL FONT */
/*---------------------------------------------------------------------------------*/
.card-arial-font {
    font-size: 77cqw;
    font-family: 'Arial';
}

.card-char-arial-lowercase-neutrals {
    bottom: 18%;
}

.card-char-arial-lowercase-ascendents {
    bottom: 13%;
}

.card-char-arial-lowercase-descendents {
    bottom: 25%;
}

.card-char-arial-uppercase-neutrals {
    bottom: 13%;
    text-transform: uppercase;
}

.card-char-arial-uppercase-ascendents {
    bottom: -32%;
    text-transform: uppercase;
}

.card-char-arial-uppercase-descendents {
    bottom: -16%;
    text-transform: uppercase;
}

/*---------------------------------------------------------------------------------*/
/* SANS TIMES NEW ROMAN FONT */
/*---------------------------------------------------------------------------------*/
.card-arial-font {
    font-size: 77cqw;
    font-family: 'Times New Roman';
}

.card-char-times-lowercase-neutrals {
    bottom: 20%;
}

.card-char-times-lowercase-ascendents {
    bottom: 12%;
}

.card-char-times-lowercase-descendents {
    bottom: 26%;
}

.card-char-times-uppercase-neutrals {
    bottom: 13%;
    text-transform: uppercase;
}

.card-char-times-uppercase-ascendents {
    bottom: -32%;
    text-transform: uppercase;
}

.card-char-times-uppercase-descendents {
    bottom: 17%;
    text-transform: uppercase;
}


/*---------------------------------------------------------------------------------*/
@media screen and (orientation: portrait) {
    #question-area {
        width: 100vw;
        height: calc((100vh - var(--heigth-top-bar)) / 2);
        background-color:cadetblue;
        color: aliceblue;
    }
    
    #answer-area {
        width: 100vw;
        height: calc((100vh - var(--heigth-top-bar)) / 2);
        background-color: darkgreen;
        color: aliceblue;
    }
}