/*---------------------------------------------------------------------------------*/
/* GAME VIEW */
/*---------------------------------------------------------------------------------*/
#options-bar {
    background-color: brown;
    height: var(--heigth-top-bar);
    color: aliceblue;
}

#switch-sound-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 60px;
    height: 60px;
    background-color:black;
    overflow: hidden;
}

#switch-sound-button img {
    filter:hue-rotate(190deg);

}



#exercise-view {
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: wrap;

}

/*---------------------------------------------------------------------------------*/
#question-area {
    width: 50vw;
    background-color:cadetblue;
    color: aliceblue;
}


#current-char-question {
    font-size: 15vh;
    text-align: center;
    text-transform: var(--Question-statement-text-transform);
}

/*---------------------------------------------------------------------------------*/
#answer-area {
    display: flex;
    width: 50vw;
    background-color: darkgreen;
    color: aliceblue;
    height: calc(100vh - var(--heigth-top-bar));
    overflow: hidden;
    justify-content: var(--hand-user);
    align-items: center;
}

#current-chars-answers {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    aspect-ratio: 1/1;
    height: var(--size-answer-area);
    padding: 2%;
    align-items: flex-end;

}

#current-chars-answers:disabled {
    height: 200px;
    font-size: 5em;
    border-radius: 15px;
    font-family: var(--font-chars);
    text-transform: var(--Answer-choice-text-transform);
    touch-action: manipulation;
}


.button-disabled {
    background-color: red;
    color:black;
    opacity: .5;
    touch-action: manipulation;
}

.correct-press-button {
    background-color: green;
    color:black;
    opacity: .75;
}

/*---------------------------------------------------------------------------------*/
/* CHAR CARDS */
/*---------------------------------------------------------------------------------*/
#cards-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3px;
    gap: 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1.4444444444;
    container-type: inline-size;
    border-radius: 1.25dvb;

    /* variable */
    background-color: rgb(143, 61, 201);
    width: auto;
    height: 44%;
}


.card-char-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75.56%;
    aspect-ratio: 1/1.5882352941;
    
    /* variable */
    background-color: white;
    color:  rgb(143, 61, 201);
}

/* Depende de la fuente tipográfica */
.card-char-content {
    position: absolute;
    font-family: var(--font-chars);
}



/*---------------------------------------------------------------------------------*/
@media screen and (orientation: portrait) {
    #question-area {
        width: 100vw;
        height: calc((100vh - var(--heigth-top-bar)) / 2);
    }
    
    #answer-area {
        width: 100vw;
        height: calc((100vh - var(--heigth-top-bar)) / 2);
        justify-content: center;
    }

    #current-chars-answers {
        justify-content: center;
    }
}
