/*---------------------------------------------------------------------------------*/
/* UTILS CLASSES */
/*---------------------------------------------------------------------------------*/
.alphabet {
    font-family: var(--font-chars);
}

.hidden {
    display: none !important;
}

.upper-case {
    text-transform: uppercase;
}