/*---------------------------------------------------------------------------------*/
/* DEKKO FONT */
/*---------------------------------------------------------------------------------*/
.card-dekko-font {
    font-size: 106cqw;
    font-family: 'Dekko';
}

.card-char-dekko-lowercase-neutrals {
    bottom: -19%;
}

.card-char-dekko-lowercase-ascendents {
    bottom: -28%;
}

.card-char-dekko-lowercase-descendents {
    bottom: -9%;
}


.card-char-dekko-uppercase-neutrals {
    bottom: -23%;
    text-transform: uppercase;
}

.card-char-dekko-uppercase-ascendents {
    bottom: -32%;
    text-transform: uppercase;
}

.card-char-dekko-uppercase-descendents {
    bottom: -16%;
    text-transform: uppercase;
}
/*---------------------------------------------------------------------------------*/
/* BOREL FONT */
/*---------------------------------------------------------------------------------*/
.card-borel-font {
    font-size: 106cqw;
    font-family: 'Borel';
}

.card-char-borel-lowercase-neutrals {
    bottom: -19%;
}

.card-char-borel-lowercase-ascendents {
    bottom: -28%;
}

.card-char-borel-lowercase-descendents {
    bottom: -8%;
}

.card-char-borel-uppercase-neutrals {
    bottom: -26%;
    text-transform: uppercase;
}

.card-char-borel-uppercase-ascendents {
    bottom: -32%;
    text-transform: uppercase;
}

.card-char-borel-uppercase-descendents {
    bottom: -16%;
    text-transform: uppercase;
}

/*---------------------------------------------------------------------------------*/
/* SANS ARIAL FONT */
/*---------------------------------------------------------------------------------*/
.card-arial-font {
    font-size: 77cqw;
    font-family: 'Arial';
}

.card-char-arial-lowercase-neutrals {
    bottom: 18%;
}

.card-char-arial-lowercase-ascendents {
    bottom: 13%;
}

.card-char-arial-lowercase-descendents {
    bottom: 25%;
}

.card-char-arial-uppercase-neutrals {
    bottom: 13%;
    text-transform: uppercase;
}

.card-char-arial-uppercase-ascendents {
    bottom: -32%;
    text-transform: uppercase;
}

.card-char-arial-uppercase-descendents {
    bottom: -16%;
    text-transform: uppercase;
}

/*---------------------------------------------------------------------------------*/
/* SANS TIMES NEW ROMAN FONT */
/*---------------------------------------------------------------------------------*/
.card-arial-font {
    font-size: 77cqw;
    font-family: 'Times New Roman';
}

.card-char-times-lowercase-neutrals {
    bottom: 20%;
}

.card-char-times-lowercase-ascendents {
    bottom: 12%;
}

.card-char-times-lowercase-descendents {
    bottom: 26%;
}

.card-char-times-uppercase-neutrals {
    bottom: 13%;
    text-transform: uppercase;
}

.card-char-times-uppercase-ascendents {
    bottom: -32%;
    text-transform: uppercase;
}

.card-char-times-uppercase-descendents {
    bottom: 17%;
    text-transform: uppercase;
}